{{#each tracks}}
    <div style="background-image: url({{albumArtUrl}}); height: 100%">
        
        <h1>{{artistName}}</h1>
        <h2 class='track-name', data-id="{{trackId}}">{{trackName}}</h2>
        <h3>{{albumName}}</h3>
        
    </div>
{{/each}}
